# To copy paste : server.env
# Used in the docker container to inject env variables

# Global
GO_ENV=development

# Server
PORT=4000

# Database
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=disable
API_KEY=
JWT_SECRET=
